@import url('reset.css');


button {
  background-color: white;
  min-height: 58px;
  min-width: 58px;
}



.wrapper {
  max-width: 1200px;
  padding: 14px;
  margin: 0 auto;
}

header {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}