@import url('reset.css');

//color scheme
$primary-color: #e9eaec;
$secondary-color: #333652;
$highlight-color: #fad02c;
$active-color: #90adc6;

body {
  background-color: $primary-color;
}

.main-grid {
  position: relative;
  min-height: 100vh;
  .content-wrap {
    padding-bottom: 2.5rem;
  }
}

header {
  background-color: $secondary-color;
  color: $primary-color;
  height: 64px;
  .hero {
    font-size: 36px;
    i {
      font-size: 30px;
      margin-right: 6px;
    }
  }
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
